 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 body {
     background-color: black;
 }

header {
    width: 90vw;
    height: 15vh;
    background-color: #262A2C;
    color: white;
    margin: 0 auto;
}

 .header__block {
     display: flex;
     justify-content: space-between;
 }


.header__logo {
    margin: 13px 0 13px 20px;
}

.header__cool {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00a9e1;
}

.header__pedals {
    color: #bd382d;
}

.header__trendy {
    font-size: 18px;
    letter-spacing: 1px;
}



/* menu*/
.header__menu {
    width: 25vw;
    height: 10vh;
    margin: 13px 10px 0 13px;
    padding: 22px 0;
}


.header__menu-1 {
    display: flex;
    list-style: none;
}

.header__menu-2 {
    font-size: 17px;
    margin-right: 5px;
    cursor: pointer;
    color: #00a9e1;
}

.header__menu-2:last-child {
    margin-right: 0;
}

.header__menu-2:hover {
    color: #0af71f;
}

/* main*/
 main {
     width: 90vw;
     height: 90vh;
     margin: 0 auto;
     background-color: #4E4C46;
 }

 .main__what {
     text-align: right;
     color: #00a9e1;
     font-size: 35px;
     padding-top: 20px;
     padding-right: 80px;
 }

 .main__span {
     font-weight: lighter;
 }

 .main__content {
     display: flex;
     justify-content: center;
 }

 .main__left {
     width: 57vw;
     height: 80vh;
     display: flex;
     justify-content: center;
     padding-top: 30px;
     position: relative;
 }



 .main__big {
     width: 27vw;
     height: 60vh;
     clip-path: polygon(0 99%, 100% 100%, 53% 0);
     background-size: cover;
 }

 .main__small {
     width: 20vw;
     height: 59vh;
     background-position: center;
     background-size: cover;
     clip-path: polygon(0 1%, 52% 100%, 100% 0);
     padding-top: 40px;
 }

 .main__small-1 {
     width: 80px;
     height: 70px;
     position: absolute;
     bottom: 110px;
     right: 50px;

 }



/* right */
 .main__right {
     width: 26vw;
     height: 80vh;
 }

.main__right-text {
    padding: 10px 20px;
    color: #00a9e1;
}

.main__right-text-1 {
    width: 96%;
    color: #fff;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
}

 .main__line {
     width: 90vw;
     margin: 0 auto;
     border: 1px solid white;
     color: white;
     background: white;
 }

 /* footer */
 nav {
     width: 90vw;
     height: 70vh;
     margin: 0 auto;
     background-color: #4E4C46;
 }

 .nav__other {
     color: #00a9e1;
     margin-left: 5px;
     margin-bottom: 10px;
 }

 .nav__grid {
     width: 80vw;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 300px 300px 300px 300px;
     grid-gap: 1%;
 }

 .grid__img-1 {
     width: 20vw;
     height: 20vh;
 }

 .grid__line {
     width: 20vw;
     border: 1px solid #82B5F2;
     background: #82B5F2;
     margin: 10px 0;
 }

 .grid__text-1 {
     font-size: 18px;
     padding: 10px 0;
     color: #fff;
 }

 /*footer*/

 footer {
     width: 90vw;
     height: 15vh;
     margin: 0 auto;
     background-color: #262A2C;
 }

 .footer__cool {
     color: #00a9e1;
     font-size: 16px;
     text-align: center;
     padding: 25px 0;
 }

 .footer__cool:hover {
     color: #0af71f;
 }