*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 6px;
    background: #8e8d8d;
}


.container{
    background-color: #8e8d8d;
    width: 98vw;
    height: 20vh;
}

.wrapper{
    background-color: #8e8d8d;
    width: 95vw;
    height: inherit;
    margin: 0 auto;
}

.container__box__text{
    color: white;
    padding: 30px 40px;
}

.container__h1{
    font-size: 50px;
}

.container__text__p{
    margin: 5px 80px;
    color: #E2D7E4;
}

.text__p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu{
    width: 98vw;
    height: 9vh;
    background-color: #ABA4A8;
}

.wrapper__menu{
    width: 95vw;
    height: inherit;
    margin: 0 auto;
    background-color: #aba4a8;
}

.menu__ul{
    display: flex;
    padding: 20px 20px;
    list-style: none;
    color: white;
}

.menu__li{
    margin-right: 40px;
    font-size: 25px;
    font-weight: bold;
}

.menu__li:hover{
    color: black;
}

.content {
    width: 98vw;
    height: 70vh;
    background-color: white;
}

.wrapper__content {
    width: 95vw;
    height: inherit;
    margin: 0 auto;
    background-color: white;
}

.content__boxes {
    display: flex;
    justify-content: space-around;
}

.content__text__img {
    border: 2px dotted #8e8d8d;
    padding: 20px 5px;
    width: 60vw;
    height: 70vh;
}

.content__box-1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.img{
    border: 2px dotted #8e8d8d;
    padding: 5px 5px;
}

.text h2, h3 {
    margin-bottom: 5px;
}

.color__red{
    color: red;
}

.text p {
    margin-top: 10px;
}


.content__box-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

img{
    width: 280px;
}



.content__text {
    width: 30vw;
    padding: 10px 10px;
}

.text__h2 {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text__p-1 {
    color: red;
    margin: 5px 5px;
}

.line {
    border: 1px dotted #8e8d8d;;
    margin: 10px 0;
}

.text__p-2 {
    color: red;
    margin: 5px 5px;
}

.text__p-3 {
    color: red;
    margin: 5px 5px;
}

.text__p-4 {
    color: red;
    margin: 5px 5px;
}

.text__h2-1 {
    color: red;
    margin: 15px 0;
}

.text__p-5 {
    margin: 5px 0;
}

footer {
    width: 98vw;
    height: 9vh;
    background-color: #ABA4A8;
}

.footer__content {
    background-color: #aba4a8;
    height: inherit;
    margin: 0 auto;
}

.footer__content__p {
   padding: 25px  53px;
}